@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.42) 74%, rgba(0, 0, 0, 0.27) 100%), url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}